button {
    display: block;
    background-color: var(--color-primary);
    font-family: 'Lato';
    border: none;
    cursor: pointer;
    margin: 0px;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 50px;
    font-size: 1.5rem;
}

button:hover {
    background-color: var(--color-primary-hover);
}
