:host {
    height: 100dvh;
    background-image:
    // order important: otherwise the gradient wouldnt apply

        linear-gradient(to bottom, #00000080, #000000e5),
        url('/images/hero_bg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}
.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    bottom: 30dvh;
    padding-left: 4rem;
}

.tags {
    display: flex;
    gap: 2rem;
}

span {
    background-color: #00000066;
    color: var(--color-white-sec);
    font-size: 2rem;
    padding: 1rem;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
}

.label {
    animation: start-home 1100ms ease both;
}

.label:first-child {
    animation-delay: 0ms;
}

.label:nth-child(2) {
    animation-delay: 400ms;
}

.label:last-child {
    animation-delay: 800ms;
}

@keyframes start-home {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (prefers-reduced-motion: reduce) {
    .label {
        animation: none;
    }
}
