:host {
    height: 100dvh;
    background-image:
    // order important: otherwise the gradient wouldnt apply

        linear-gradient(to bottom, #00000080, #000000e5),
        url('/images/hero_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
}
.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    bottom: 30dvh;
    padding-left: 4rem;
}

.tags {
    display: flex;
    gap: 2rem;
}

span {
    background-color: #00000066;
    color: var(--color-white-sec);
    font-size: 2rem;
    padding: 1rem;
    border: 1px;
    border-style: solid;
    border-radius: 15px;
}
