:root {
    // Brand
    --color-primary: #ffd633;
    --color-secondary: #1a1000;

    // Background
    --color-black-bg: #21221e;
    --color-gray-bg: #e6e6e3;
    --color-white-bg: #fafafa;

    --color-white: #ffffff;
    --color-black: #21221e;
    --color-gray: #424242;

    // Text
    --color-heading: var(--color-white);
    --color-text: var(--color-gray);
}
