:root {
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    color: var(--color-heading);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem;
}

body {
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--color-text);
}
