// colors
@use 'colors';

// fonts
@use 'typography';

// components (button, ...)

@use 'components/button';

// scrolling

// html {
//     scroll-snap-type: y mandatory;
//     scroll-behavior: smooth;
// }

* {
    margin: 0;
    padding: 0;
    // Border-Box makes siza a total value - usually padding adds to the width/height
    box-sizing: border-box;
}
